<div ng-controller="ListController as vm">
    <div class="search-field">
        <input ng-model="vm.query" placeholder="Search for artist or album title"/>
        <button ng-click="vm.getList()">Search</button>
    </div>

    <div class="no-search" ng-if="!vm.list.length">
        <div>
            <img src="assets/images/Magnify@2x.png" />
        </div>
        <p>Your Results will appear here</p>
    </div>

    <ul ng-if="vm.list.length">
        <li ng-repeat="item in vm.list">
            {{item.type}} : {{item.name}}
        </li>
    </ul>
</div>