<div class="cover" >
    <div class="header-items">
        <img src="assets/images/gl-logo@2x.png"/>
        <p>Powered by Spotify</p>
    </div>
    <div class="cover-img">
        <img src="assets/images/hero-img@2x.png" alt=""/>
    </div>
</div>
<div ng-controller="ListController as vm">
    <div class="search-field">
        <input ng-model="vm.query" placeholder="Search for artist or album title"/>
        <button ng-click="vm.getList()">Search</button>
    </div>

    <ul>
        <li ng-repeat="item in vm.list">
            {{item.type}} : {{item.name}}
        </li>
    </ul>
</div>