@font-face {
    font-family: RalewayMedium;
    src: url(../fonts/Raleway-Medium.ttf);
}

body {
    background: #353740;
    font-family: RalewayMedium;
}

body input {
    outline: none;
}

.cover{
    text-align: center;
    margin: -10px auto;
    width: 90%;
    height: 50pc;
    background: #cd1274;
}

.cover .cover-img{
    width: 100%;
    height: 50%;
}

.cover .cover-img img{
    width: 700px;
}

.cover .header-items {
    height: 170px;
    width: 100% ;
}

.cover .header-items img {
    float: left;
    width: 85px;
    margin: 30px 40px;
}

.cover .header-items p {
    float: right;
    margin: 40px 57px;
    color: white;
    font-size: 19px;
}

.search-field {
    text-align: center;
    margin: 20px auto;
    border-radius: 30px;
    height: 40px;
    background: white;
    width: 35%;
}

.search-field input {
    border: none;
    float: left;
    margin: 11px 22px;
    width: 60%;
}

.search-field .submit {
    float: right;
    margin: 5px 7px;
    width: 15%;
    height: 30px;
    border-radius: 30px;
    color: white;
    border: none;
    background: #cd1274;
}

.arrow img {
    padding-top: 6pc;
    width: 60px;
}

.loading {
    width: 90%;
    text-align: center;
    margin: auto;
    height: 400px;
}

.loading img {
    width: 400px;
    height: 400px;
}

.no-search {
    width: 90%;
    text-align: center;
    margin: auto;
    background: #3c3f4e;
    height: 300px;
    padding-top: 110px;
}

.no-search img {
    width: 150px;
}

.no-search p {
    color: #56596C;
    font-size: 22px
}

.list {
    width: 90%;
    text-align: center;
    margin: 20px auto;
}

.list-item {
    height: 20pc;
    width: 17pc;
    display: inline-block;
    margin: 3pc 1pc;
    box-shadow: 0 0 25px -5px;
}

.list-item .type-icon {
    width: 40px;
    margin: -57px 10px;
}

.list-item .list-img {
    overflow: hidden;
}

.list-item .list-img img {
    height: 17pc;
    width: 17pc;
    border-radius: 5px 5px 0 0;
}

.list-item .hover-item {
    height: 17pc;
    width: 17pc;
    color: white;
    font-size: 18px;
    margin-top: -17pc;
    z-index: 5;
    position: absolute;
    padding-top: 4pc;
}

.list-item:hover .hover-item {
    opacity: 1 !important;
    transition: 0.5s;
    cursor: pointer;
}

.list-item .hover-item img {
    width: 7pc;
}

.list-item:hover .list-img img{
    -webkit-filter: blur(7px);
    transition: 0.5s;
    z-index: 1;
}

.list-item .list-name{
    height: 5pc;
    width: 17pc;
    background: white;
    margin-top: 60px;
    border-radius: 0 0 5px 5px;
    position: absolute;
}

.list-item .list-name p{
    float: left;
    font-size: 18px;
    margin: 30px 26px;
    overflow: hidden;
    height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 14pc;
}

.footer {
    color: white;
    text-align: center;
}