<div ng-controller="ListController as vm">
    <form ng-submit="vm.getList()">
        <div class="search-field">
            <input ng-model="vm.query" placeholder="Search for artist or album title"/>
            <input class="submit" type="submit" value="Search"/>
        </div>
    </form>

    <div class="no-search" ng-if="!vm.list.length && !vm.loading">
        <div>
            <img src="assets/images/Magnify@2x.png" />
        </div>
        <p ng-if="!vm.noData">Your Results will appear here</p>
        <p ng-if="vm.noData">Sorry! Nothing found</p>
    </div>

    <div class="loading" ng-if="vm.loading">
        <img src="assets/images/audio-loading-bar.gif" />
    </div>

    <ul class="list" ng-if="vm.list.length && !vm.loading">
        <li class="list-item" id="item-{{$index}}" ng-click="vm.openModal(item)" ng-repeat="item in vm.list">
            <div class="list-img">
                <img ng-src="{{item.images.length ? item.images[0].url : 'assets/images/no-image-placeholder.png'}}"/>
            </div>
            <div class="hover-item" style="opacity: 0;">
                <img src="assets/images/Bitmap@2x.png"/>
                <p>{{item.type == "album" ? 'View Tracks' : 'View Albums'}}</p>
            </div>
            <div class="type-icon">
                <img width="40" ng-src="{{item.type == 'album' ? 'assets/images/album-icon@2x.png' : 'assets/images/artist-icon@2x.png'}}"/>
            </div>
            <div class="list-name">
                <p>{{item.name}}</p>
            </div>
        </li>
    </ul>

    <input ng-if="vm.list.length && vm.list.length == vm.offset" class="button" id="load-more" type="button" value="SHOW ME MORE!" ng-click="vm.loadMore()"/>

    <ng-include ng-if="!!vm.showModal" src="'app/list/modal.html'"></ng-include>
</div>